.main{
    /* margin-left: 10%; */
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    width: 100%;
    height: 99vh;
    color: white;
    overflow: hidden;
    background-color: black;
   z-index: -7;  
}

.container_box{
    display: flex;
    align-items: center;
    justify-content: left;
    /* border-style: solid;
    border-width: 4.04px; */
    border: 4px solid #9B49F6;
    border-top: none;
    border-left: none;
    border-bottom: none;
    /* border-image: linear-gradient(180deg, #9B49F6 0%, #BD00FF 100%)1; */
    width: 80%;
    height: 70vh; 
    /* border-bottom-right-radius: 1rem ; */
}

.text_box{
    /* border: 1px solid rgb(240, 240, 12); */
    width: 50vw;
    height: 45vh;
    /* margin: 15% 10%; */
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    
}

.hero_text{
    margin-top: 2rem;
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    color: #FBFBFB;
    }


    
.button_main{
    display: flex;
margin: 2rem 0;
}

.button1{
    width: 159px;
    height: 49px;
    background-color:transparent;
    border: 1px solid #FFFFFF;
    padding: 12px, 24px, 12px, 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 8px;
}
.button2{
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    color: #FFFFFF;
    width: 159px;
    height: 49px;
    border: none;
    background-color: #EF3F3C;
    padding: 12px, 24px, 12px, 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}


.earth_image_main{
    position: absolute;
    top: -27rem;
    right: -47rem;
    /* border: 1px solid rgb(240, 240, 12); */
    height: 65rem;
    width: 99vw;
    z-index: -9;
    transform: rotate(153deg);
}


.earth_image{
    width: 100%;
    height: 100%;
}

/* ......................... */


@media only screen and (max-width: 600px) {

    .container_box {
        height: 100vh;
    }
    .text_box {
        width: 100vw;
    }
    .hero_text {
        margin-top: 2rem;
        font-size: 40px;
        font-weight: 500;
        line-height: 59px;
        color: #FBFBFB;
        
    }
  }



